<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--
	For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

	The following attributes can be set on the <httpRuntime> tag.
	  <system.Web>
		<httpRuntime targetFramework="4.6.1" />
	  </system.Web>
  -->
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.5" maxRequestLength="1073741824" executionTimeout="120" />
	</system.web>
	<appSettings>
		<add key="DATA_MODE" value="M" />
		<add key="MSSQL" value="server=DESKTOP-J44Q2LU\KHANHNM;user=sa;Pwd=1;database=AMS" />

		<add key="LogStoreNameHistory" value="dbo.sp_LogHistory_Insert" />
		<add key="LogStoreNameActivity" value="dbo.sp_LogActivity_Insert" />
		<add key="LogStoreNameError" value="dbo.sp_LogError_Insert" />

		<add key="PathFileImageAsset" value="/File/Image" />
		<add key="PathFileImageItem" value="/File/ImageItem" />
		<add key="FolderFileUpload" value="/File/FileUpload" />
		<add key="FolderFileReport" value="/File/FileReport" />
		<add key="FolderFileExportDSPNK" value="/File/FileExport/DSPNK" />
		<add key="FolderFileExportDSKKVP" value="/File/FileExport/DSKKVP" />
		<add key="FolderFileExportPDX" value="/File/FileExport/PDX" />
		<add key="FolderFileExportPDXTS" value="/File/FileExport/PDXTS" />
		<add key="FolderFileExport" value="/File/FileExport" />
		<add key="FolderFileDiagram" value="/File/FileDiagram" />
		<add key="PDFWidth" value="310f" />
		<add key="PDFHeight" value="125f" />

		<add key="RequireCaptchaLogin" value="true" />
		<add key="KeyAuthorizationAssetSync" value="blmOOobjZodOZI8nZR35" />
		<add key="IPStatistic" value="172.36.67.199,::1" />

		<!--sử dụng SSO: true - có; false - không-->
		<add key="UsingSSO" value="false" />
		<!--ClientID nhận được từ bên cấu hình SSO-->
		<add key="ClientID" value="iCzoYcOl0ablve78Vz9lIOry1yMa" />
		<!--SecretID nhận được từ bên cấu hình SSO-->
		<add key="SecretID" value="HMg2janTaiPMpPsQa0Axx8dI1kEa" />
		<!--Url đăng nhập SSO-->
		<add key="UrlLoginSSO" value="https://iambk.hcdt.vn:8243/oauth2/authorize" />
		<!--Api lấy giá trị token SSO-->
		<add key="ApiGetToken" value="https://iambk.hcdt.vn:8243/oauth2/token" />
		<!--Api logout SSO-->
		<add key="ApiLogout" value="https://iambk.hcdt.vn:8243/oidc/logout" />
		<!--2 tham số để verify token SSO-->
		<add key="JWTModulus" value="xeqoZYbQ_Sr8DOFQ-_qbEbCp6Vzb5hzH7oa3hf2FZxRKF0H6b8COMzz8-0mvEdYVvb_31jMEL2CIQhkQRol1IruD6nBOmkjuXJSBficklMaJZORhuCrB4roHxzoG19aWmscA0gnfBKo2oGXSjJmnZxIh-2X6syHCfyMZZ00LzDyrgoXWQXyFvCA2ax54s7sKiHOM3P4A9W4QUwmoEi4HQmPgJjIM4eGVPh0GtIANN-BOQ1KkUI7OzteHCTLu3VjxM0sw8QRayZdhniPF-U9n3fa1mO4KLBsW4mDLjg8R_JuAGTX_SEEGj0B5HWQAP6myxKFz2xwDaCGvT-rdvkktOw" />
		<add key="JWTExponent" value="AQAB" />

		<add key="PasswordDefault" value="Bkav@2019" />
	</appSettings>
	<system.webServer>
		<handlers>
			<remove name="WebDAV" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
		</modules>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Packaging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
